/* color | offset-x | offset-y | blur-radius */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.limit-size {
  width: 100%;
  max-width: 1440px;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #E0E2DB;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  margin-top: auto;
}

ul {
  list-style: none;
}

a,
p {
  text-decoration: none;
  color: #2E3532;
  font-family: "AlegreyaSans-regular";
}

h1 {
  font-family: "Oranienbaum-regular";
  color: #2E3532;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Marvel-regular";
}

header {
  background-color: #2E3532;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 999;
}
header > div.logo {
  margin: 1rem;
}
header > .burger-menu {
  display: none;
  margin-left: 1rem;
}
header > nav.nav-menu {
  width: 80vw;
}
header > nav.nav-menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
header > nav.nav-menu > ul > li {
  position: relative;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > nav.nav-menu > ul > li::before, header > nav.nav-menu > ul > li::after {
  content: "";
  position: absolute;
  display: block;
}
header > nav.nav-menu > ul > li::before {
  height: 100%;
  width: 0;
  right: 0;
  border-top: 2px solid #F8F8F8;
  border-bottom: 2px solid #F8F8F8;
  transition: all 500ms cubic-bezier(0.075, 0.81, 0.165, 1);
}
header > nav.nav-menu > ul > li::after {
  background-color: transparent;
  height: calc(100% - 4px);
  width: 0;
  left: 0;
  transition: all 1s cubic-bezier(0.075, 0.81, 0.165, 1);
}
header > nav.nav-menu > ul > li:hover::before {
  width: 100%;
}
header > nav.nav-menu > ul > li:hover::after {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
}
header > nav.nav-menu > ul > li:hover > a {
  color: #2E3532;
}
header > nav.nav-menu > ul > li > a {
  z-index: 100;
  color: #E0E2DB;
  font-family: "Oranienbaum-regular";
  font-size: 2rem;
}
@media (max-width: 770px) {
  header > nav.nav-menu > ul > li > a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 635px) {
  header > div.logo {
    width: 80px;
  }
  header > nav.nav-menu > ul > li > a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 635px) {
  header > nav.nav-menu {
    display: none;
  }
  header > .burger-menu {
    display: block;
    margin-left: 1rem;
    position: absolute;
    right: 5%;
  }
  header .nav-menu.active {
    display: block;
    background-color: #2E3532;
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
  }
  header .nav-menu.active > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    height: 100%;
  }
  header .nav-menu.active > ul > li > a {
    font-size: 2rem;
    padding: 1rem;
  }
}

footer {
  background-color: #2E3532;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer > nav.nav-menu {
  width: 100vw;
}
footer > nav.nav-menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer > nav.nav-menu > ul > li > a {
  position: relative;
  color: #E0E2DB;
  font-family: "Oranienbaum-regular";
  font-size: 1.5rem;
}
footer > nav.nav-menu > ul > li > a:after, footer > nav.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0%;
  display: block;
  height: 1px;
  transition: all 0.3s ease;
  margin-top: 2px;
  transition: all 300ms ease-in;
}
footer > nav.nav-menu > ul > li > a:after {
  bottom: 0;
  left: 0;
}
footer > nav.nav-menu > ul > li > a:before {
  top: 0;
  right: 0;
}
footer > nav.nav-menu > ul > li > a:hover::after {
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #F8F8F8;
}
footer > nav.nav-menu > ul > li > a:hover::before {
  width: 100%;
  height: 1px;
  top: 0;
  background-color: #F8F8F8;
}
@media screen and (max-width: 635px) {
  footer > div.logo {
    width: 50px;
  }
  footer > nav.nav-menu > ul > li > a {
    font-size: 0.9rem;
  }
}

main#homepage {
  margin-top: 150px;
}
main#homepage > section#introduction {
  max-height: 800px;
  height: 100%;
}
main#homepage > section#introduction > figure {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
main#homepage > section#introduction > figure > img {
  margin: 0.5rem 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main#homepage > section#introduction > figure > figcaption {
  min-height: 400px;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main#homepage > section#introduction > figure > figcaption > h1 {
  font-size: 4.5rem;
  text-decoration: underline;
  -webkit-text-stroke: 1px #2E3532;
  /* color | offset-x | offset-y | blur-radius */
  text-shadow: rgba(7, 7, 7, 0.2392156863) 4px 0 4px;
}
main#homepage > section#introduction > figure > figcaption > p {
  font-size: 0.8rem;
}
@media screen and (min-width: 635px) {
  main#homepage > section#introduction > figure {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  main#homepage > section#introduction > figure > img {
    width: 100%;
    height: 800px;
    margin: 0;
  }
  main#homepage > section#introduction > figure > figcaption {
    max-width: 1000px;
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    background-color: rgba(224, 226, 219, 0.7490196078);
    border-radius: 0.5rem 0 0 0;
  }
  main#homepage > section#introduction > figure > figcaption > h1,
  main#homepage > section#introduction > figure > figcaption p {
    margin: 0 5rem;
    padding: 0 1rem;
    text-align: right;
  }
  main#homepage > section#introduction > figure > figcaption > p {
    width: 80%;
    font-size: 1.2rem;
  }
}
main#homepage > section#features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main#homepage > section#features > div {
  width: 85vw;
}
main#homepage > section#features > div > h2 {
  text-decoration: underline;
  text-shadow: rgba(7, 7, 7, 0.2392156863) 4px 0 4px;
  margin: 0.5rem;
  font-size: 3.2rem;
}
main#homepage > section#features > div.infinite-carousel {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main#homepage > section#features > div.infinite-carousel .items {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main#homepage > section#features > div.infinite-carousel .items > .item {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}
main#homepage > section#features > div.infinite-carousel .items > .item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main#homepage > section#features > div.infinite-carousel .items .item.active {
  display: block;
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}
main#homepage > section#features > div.infinite-carousel .items .item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
  display: none;
}
main#homepage > section#features > div.infinite-carousel .items .item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
  display: none;
}
main#homepage > section#features > div.infinite-carousel .items > .button-container {
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 275px;
  z-index: 100;
}
main#homepage > section#features > div.infinite-carousel .items > .button-container > .button {
  color: #F8F8F8;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}
main#homepage > section#features > div.infinite-carousel .items > .button-container > .button:hover {
  opacity: 1;
}
main#homepage > section#features > div.infinite-carousel .items > .button-container > .button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  z-index: -99;
}
@media screen and (min-width: 800px) {
  main#homepage > section#features > div > p {
    width: 50%;
  }
  main#homepage > section#features > div.infinite-carousel {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main#homepage > section#features > div.infinite-carousel .items {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  main#homepage > section#features > div.infinite-carousel .items > .item {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  main#homepage > section#features > div.infinite-carousel .items > .item > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main#homepage > section#features > div.infinite-carousel .items > .item > figcaption {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(191, 85, 95, 0.7490196078);
  }
  main#homepage > section#features > div.infinite-carousel .items > .item > figcaption > p {
    color: #F8F8F8;
    font-size: 1.2rem;
    font-family: "Marvel-regular";
  }
  main#homepage > section#features > div.infinite-carousel .items .item.active {
    display: block;
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  main#homepage > section#features > div.infinite-carousel .items .item.prev {
    display: block;
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  main#homepage > section#features > div.infinite-carousel .items .item.next {
    display: block;
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  main#homepage > section#features > div.infinite-carousel .items > .button-container {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 300px;
    z-index: 100;
  }
  main#homepage > section#features > div.infinite-carousel .items > .button-container > .button {
    color: #F8F8F8;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  main#homepage > section#features > div.infinite-carousel .items > .button-container > .button:hover {
    opacity: 1;
  }
  main#homepage > section#features > div.infinite-carousel .items > .button-container > .button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #F8F8F8;
    border-radius: 50%;
    z-index: -99;
  }
}
main#homepage > section#news {
  text-align: center;
}
main#homepage > section#news > h2 {
  text-decoration: underline;
  text-shadow: rgba(7, 7, 7, 0.2392156863) 4px 0 4px;
  margin: 0.5rem;
  font-size: 3.2rem;
}
main#homepage > section#news > a {
  text-decoration: underline;
  text-shadow: rgba(7, 7, 7, 0.2392156863) 4px 0 4px;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-family: "Marvel-bold";
}
main#homepage > section#news > div.cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
main#homepage > section#news > div.cards-wrapper > .card {
  height: 375px;
  width: 300px;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: flex-end;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
  box-shadow: rgba(7, 7, 7, 0.2392156863) 4px 0 4px;
  border-radius: 0.5rem;
  border: 10px solid #F8F8F8;
  font-size: 1.5em;
  color: #E0E2DB;
  transition: all, 0.5s;
  text-align: left;
}
main#homepage > section#news > div.cards-wrapper > .card > div {
  margin: 0 2rem;
  z-index: 9;
}
main#homepage > section#news > div.cards-wrapper > .card > div > h1,
main#homepage > section#news > div.cards-wrapper > .card > div p {
  color: #E0E2DB;
  font-family: "Marvel-bold";
}
main#homepage > section#news > div.cards-wrapper > .card > div > h1 {
  margin: 0;
  font-size: 2.1rem;
  line-height: 1.2em;
}
main#homepage > section#news > div.cards-wrapper > .card > div > p {
  font-family: "AlegreyaSans-light";
  font-size: 0.8rem;
  margin-top: 0.5em;
  line-height: 1.5rem;
}
main#homepage > section#news > div.cards-wrapper > .card > div > div.tags {
  display: flex;
  margin-top: 1rem;
}
main#homepage > section#news > div.cards-wrapper > .card > div > div.tags > div.tag {
  font-size: 0.6rem;
  font-family: "Marvel-bold";
  background: #BF555F;
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
}
main#homepage > section#news > div.cards-wrapper > .card > div > div.date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  font-family: "Marvel-bold";
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}
main#homepage > section#news > div.cards-wrapper > .card:hover {
  color: #BF555F;
}
main#homepage > section#news > div.cards-wrapper > .card:hover:hover h1, main#homepage > section#news > div.cards-wrapper > .card:hover:hover p {
  color: #BF555F;
}
main#homepage > section#news > div.cards-wrapper > .card:hover .tags .tag {
  background: #BF555F;
  color: #F8F8F8;
}
main#homepage > section#news > div.cards-wrapper > .card:hover:before, main#homepage > section#news > div.cards-wrapper > .card:hover:after {
  transform: scale(1);
}
main#homepage > section#news > div.cards-wrapper > .card:before, main#homepage > section#news > div.cards-wrapper > .card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: 1;
  transition: all, 0.5s;
  transition-timing-function: ease-in-out;
}
main#homepage > section#news > div.cards-wrapper > .card:before {
  background: rgba(255, 255, 255, 0.3);
  width: 250%;
  height: 250%;
}
main#homepage > section#news > div.cards-wrapper > .card:after {
  background: rgba(255, 255, 255, 0.3);
  width: 200%;
  height: 200%;
}
@media screen and (min-width: 800px) {
  main#homepage > section#news > div.cards-wrapper {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */